.client-review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    background-color: #f8f1eb;
    text-align: center;
}

.client-review-intro {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.client-review-intro .heart-icon {
    width: 40px;
    height: auto;
}

.client-review-intro h1 {
    font-family: 'Roboto Serif', serif;
    font-size: 2.5rem;
    color: #29180F;
    margin: 0;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 100%;
    max-width: 1200px;
}

.bigger-review-card {
    flex: 1;
    max-width: 600px;
    background-color: white;
    border-radius: 30px;
    padding: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #C9B079;
    min-height: 400px;
}

.bigger-review-card .bigger-review-image {
    width: 100%;
    height: 290px;
    padding: 0;
    border-radius: 25px;
    margin-bottom: 15px;
    object-fit: cover;
}

.bigger-review-card:hover {
    transform: scale(1.02);
}

.bigger-review-card h2 {
    font-family: 'Roboto Serif', serif;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: left;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 10px;
    color: #29180F;
    margin-bottom: 10px;
}

.bigger-review-card p {
    font-family: 'Roboto Serif', serif;
    font-size: 0.9rem;
    text-align: left;
    color: #555;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.bigger-review-card .discover-more {
    background-color: transparent;
    font-size: 0.8rem;
    color: #29180F;
    font-weight: 600;
    margin-left: -420px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.bigger-review-card .discover-more:hover {
    color: #3E2A1F;
    border-color: #3E2A1F;
}

.smaller-cards-container {
    flex: 1;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.smaller-review-card {
    background-color: white;
    border-radius: 20px;
    padding: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: 3px solid #C9B079;
}

.smaller-review-card:nth-child(1) {
    background-color: #E1EDE9;
}

.smaller-review-card:nth-child(2) {
    background-color: #F0DACD;
}

.smaller-review-card:hover {
    transform: scale(1.02);
}

.smaller-review-card .smaller-review-image {
    width: 40%;
    height: auto;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.smaller-review-card .text-content {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.smaller-review-card h2 {
    font-family: 'Roboto Serif', serif;
    font-size: 1.5rem;
    color: #29180F;
    margin-bottom: 10px;
}

.smaller-review-card p {
    font-family: 'Roboto Serif', serif;
    font-size: 0.8rem;
    color: #000000E5;
    margin-bottom: 20px;
}

.discover-more {
    display: inline-block;
    padding: 10px 10px;
    background-color: transparent;
    font-weight: 600;
    color: #29180F;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'Roboto Serif', serif;
    font-size: 0.7rem;
    transition: all 0.3s ease;
}

.discover-more:hover {
    color: #3E2A1F;
    border-color: #3E2A1F;
}

@media (max-width: 768px) {
    .client-review-section {
        padding: 10px 10px;
    }

    .client-review-intro h1 {
        font-size: 1.5rem;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .bigger-review-card {
        max-width: 80%;
        min-height: 100px;
    }

    .bigger-review-card .bigger-review-image {
        height: 150px;
    }

    .bigger-review-card h2 {
        font-size: 1.2rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bigger-review-card p {
        font-size: 0.7rem;
        margin-bottom: 5px;
    }

    .bigger-review-card .discover-more {
        margin-left: -120px;
        margin-bottom: 10px;
    }

    .smaller-cards-container {
        max-width: 80%;
    }

    .smaller-review-card {
        flex-direction: row;
        max-width: 100%;
        min-height: 50px;
    }

    .smaller-review-card .smaller-review-image {
        width: 40%;
        height: 208px;
        border-radius: 20px 0 0 20px;
    }

    .smaller-review-card .text-content {
        width: 60%;
        padding: 8px;
    }

    .smaller-review-card h2 {
        font-size: 1rem;
        margin-bottom: 3px;
    }

    .smaller-review-card p {
        font-size: 0.65rem;
        margin-bottom: 8px;
    }
}