#heart-button-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -120px;
    padding: 40px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

#heart-button {
    font-family: 'Roboto Serif', serif;
    font-style: italic;
    font-weight: 500;
    color: #29180F;
    padding: 8px 28px;
    font-size: 1.8rem;
    background-color: #FFFFFF;
    border: 3px solid #C9B079;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#heart-button:hover {
    background-color: #6FB3B1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

#heart-button-icon {
    height: 40px;
    width: 45px;
}

.client-opinion-section {
    background-color: #E1EDE9;
    text-align: center;
    padding: 60px 0;
}

.client-opinion-section-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.client-opinion-section-card {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 230px;
    max-width: 360px;
    text-align: left;
    border: 3px solid #C9B079;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.client-opinion-section-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.client-opinion-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #000000E5;
    margin-bottom: 20px;
}

.client-identification {
    display: flex;
    align-items: center;
    gap: 10px;
}

.client-identification .letter {
    font-size: 2rem;
    font-weight: 500;
    color: #28180F;
    border: 2px solid #C9B079;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Serif', serif;
}

.client-identification .author-role {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.client-identification .author {
    font-size: 0.9rem;
    font-weight: 500;
    color: #29180F;
    margin: 0;
}

.client-identification .role {
    font-size: 0.8rem;
    color: #000000E5;
    margin: 0;
}