* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Serif', serif;
    margin: 0;
    padding: 0;
}

.page-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  background-color: #F0DACD;
  padding: 8px 12px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0;
}

.shop-logo {
  display: flex;
  align-items: center;
}

.teddy-bear-on-logo {
  height: 50px;
  margin-right: 0;
  margin-left: 30px;
}

.shop-name {
  height: 40px;
  margin-left: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: nowrap; 
}

nav ul {
  display: flex;
  gap: 55px;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 10px 0;
  margin-left: 15px;
  
}

nav ul li a:hover {
    color: #007bff;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  white-space: nowrap;
  font-weight: 500;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icons a {
    margin-right: -25px;
}

.navbar-icons img {
    margin-right: 40px;
    width: 18px;
    height: 18px;
    
}

.navbar-button {
  background-color: #89D3D1;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  margin-right: 60px;
  margin-left: 50px;
  width: 130px;
  height: 30px;
}

.navbar-button:hover {
    background-color: #0056b3;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.banner-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6a57c;
  color: white;
  padding: 12px;
  border-radius: 10px;
  font-size: 14px;
  max-width: 90%;
  text-align: center;
}

.first-section {
    margin: 0; /* Remove margens */
    padding: 0; /* Remove preenchimentos */
}

.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-banner img {
    width: 100%;
    height: auto;
    display: block;
}
